# Cloudflare Credentials
CLOUDFLARE_API_TOKEN=your_token_here
CLOUDFLARE_ACCOUNT_ID=091539408595ba99a0ef106d42391d5b

# Test Configuration
SENDER_EMAIL=test@mail.wify.my
RECIPIENT_EMAIL=shaswatraj3@gmail.com
